<div class="container" id = "home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4">Blog Artura!</h1>
    <p class="lead">To jest moja pierwsza strona testowa.</p>
    <hr class="my-1">
    <hr class="my-8">
    <p>Stworzylem ja w Ruby on Rails po przejsciu pierwszego poziomu kursu online.</p>
     <%= link_to "Zaloz Konto", signup_path, class: "btn btn-success btn-lg" %>
  </div>
</div>
