<div class="container" id = "home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4">Blog Artura!</h1>
    <p class="lead">To jest moja pierwsza strona testowa.</p>
    <hr class="my-1">
    <hr class="my-8">
    <p>Stworzylem ja w Ruby on Rails po przejsciu pierwszego poziomu kursu online.</p>
    <a class="btn btn-success btn-lg" href="#" role="button">Przycisk testowy</a>
  </div>
</div>

<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Artur's Website", "https://akukaracza-alpha.herokuapp.com", class: "text-white" %></small>
  </div>
</footer>
